.modal-body .close{
    padding: 1rem 1rem;
    margin: -1rem -1rem -1rem auto;
}
.admin-img {
    background: url('./../images/emir.jpeg') center center / cover;
    width: 141px;
    height: 141px;
  }
.btn.close span{
    transition: all 0.5s;
  }
.btn.close.collapsed span{
    transition: all 0.5s;
    transform: rotate(180deg);
  }
